.language-switch {
  position: relative;
}

.language-switch .cont {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  color: grey;
}

/* dropdown */
.language-switch .menu.open {
  display: flex;
  animation: slide-in-menu 150ms ease-in-out;
}

.language-switch .cont.open {
  z-index: 98;
}

.language-switch .menu {
  display: none;
  flex-direction: column;
  background-color: darkgrey;
  border-radius: 5px;
  position: absolute;
  top: 2.5rem;
  right: 0;
  z-index: 99;
  padding: 0.5rem 0;
  width: 8rem;
}

.language-switch .menu.mobile {
  left: -1rem;
}

.language-switch .menu .menuItem {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
}

.language-switch .menu .flag {
  margin-right: 0.5rem;
  margin-left: 1.5rem;
}

.language-switch .menu .menuItem:hover {
  background-color: rosybrown;
  color: white;
}

@keyframes slide-in-menu {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
