.language-switch {
  position: relative;
}

.language-switch .cont {
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  fill: #252a40;
  width: 3rem;
}

/* sidenav */
.language-switch .menu.open {
  width: 20rem;
  animation: slide-in-menu 150ms ease-in-out;
}

.language-switch .cont.open {
  z-index: 98;
}

.language-switch .menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 5rem;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 2rem;
}

.language-switch .menu.mobile {
  right: -2rem;
}

.language-switch .menu .menuItem {
  display: flex;
  align-items: center;
  padding: 1.5rem 1.5rem 1.5rem 3rem;
  color: #252A40;
  text-decoration: none;
  cursor: pointer;
  margin: 0.2rem 2rem;
  font-size: 1.5rem;
}

.language-switch .menu .flag {
  margin-right: 0.5rem;
}

.language-switch .menu .menuItem:hover {
  background-color: #7f86a3;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
}

.language-switch .menu .menuItem.active {
  background-color: #7f86a3;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
}

@keyframes slide-in-menu {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
