.contacts-wrapper .title {
  text-transform: uppercase;
  padding: 20px 20px 20px 10px;
  text-align: center;
  color: rgba(37, 42, 64, 1);
  font: bold 2.5rem "Segoe UI";
}

.contacts-wrapper .info-container {
  display: flex;
  justify-content: center;
}

.contacts-wrapper .info-container.mobile {
  flex-direction: column;
  align-items: normal;
}

.contacts-wrapper .info-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}

.contacts-wrapper .info-card.expanded {
  margin-left: 2rem;
  background-color: #cccfe0;
  color: #252a40;
  border-radius: 20px;
  justify-content: center;
}

.contacts-wrapper .info-text {
  font-size: 1.2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.contacts-wrapper .info-content-expanded {
  padding: 4rem 5.5rem 4rem 2.5rem;
}

.contacts-wrapper .info-content-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts-wrapper .form-container {
  flex: 1;
  padding: 0 2rem;
}

.contacts-wrapper .styled-input {
  flex: 1;
}

.contacts-wrapper .button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-wrapper .form-button {
  margin: 2rem;
  width: 10rem;
  background-color: #7f86a3;
}

.contacts-wrapper .form-button:hover {
  background-color: #8f9cc7;
}

.contacts-wrapper .info-text.mobile {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.contacts-wrapper .map-container {
  flex: 1;
  padding: 0 2rem;
}