.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-wrapper .home-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 2.5rem;
}

.home-wrapper .home-image.mobile {
  margin: 0;
  border-radius: 0;
}

.home-wrapper .home-image.mobile img {
  max-height: 90vh;
}

.home-wrapper .home-image img {
  max-height: 85vh;
}

.home-wrapper .home-button {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
}