.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-wrapper .home-image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.home-wrapper .home-image.mobile img {
  max-height: 90vh;
  width: auto;
}

.home-wrapper .home-image img {
  max-height: 90vh;
  width: 100%;
}

.home-wrapper .banner-text {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translateX(50%);
  font: normal 20rem "Segoe UI";
  color: #e3dcdc;
  text-shadow: -12px 12px rgba(37, 42, 64, 1), 12px 12px rgba(37, 42, 64, 0.2), 12px 12px rgba(37, 42, 64, 0.2), 12px -12px rgba(37, 42, 64, 1);
}

.home-wrapper .banner-text.mobile {
  font: normal 10rem "Segoe UI";
  text-shadow: -10px 10px rgba(37, 42, 64, 1), 10px 10px rgba(37, 42, 64, 0.2), 10px 10px rgba(37, 42, 64, 0.2), 10px -10px rgba(37, 42, 64, 1);
}

.home-wrapper .home-button {
  position: absolute;
  bottom: 25%;
  transform: translateX(0);
  font-size: 1.5rem;
  padding: 1rem;
  width: 15rem;
  border-radius: 30px;
  box-shadow: 0 0 50px 5px #252a40;
  margin: 2rem;
  background-color: #cccfe0;
  color: #252a40;
}

.home-wrapper .home-button:hover {
  background-color: #8f9cc7;
}

.home-wrapper .home-button.mobile {
  bottom: 8rem;
}